GIT_USERNAME=name        # Login Name for the github user that has access to monitor repos
GIT_PASSWORD=password    # Password for the user
CONTRIBUTORS_POOL=5      # The cut-off point where users are considered top contributors
CONTRIBUTORS_TO_INVOKE=2 # Number of top contributors to invoke on any given PR

